body {
  text-align: left;
  margin: 10px;
  }

header {
  background-color: dimgrey;
  height: 100px;
  border-bottom: darkred;
  border-width: thick;
}

h1 {
  font-size: 64px;
  color: white;
  display: inline;
  font-family: 'Raleway', sans-serif;
  }

  img {
    height: 100px;
    width: 100px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: inline;

  }
