body {
  text-align: left;
  margin: 10px;
  }

header {
  background-color: dimgrey;
  height: 100px;
}

h1 {
  font-size: 64px;
  color: white;
  display: inline;
  font-family: 'Raleway', sans-serif;
  }
