.dropbtn {
 background-color: #4CAF50;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
 background-color: #3e8e41;
}
.menu-dropdown {
 float: right;
 position: relative;
 display: inline-block;
 background-color: darkred;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 overflow: auto;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 right: 0;
 z-index: 1;
}
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

body {
 font-family: ‘Raleway’, sans-serif;
 text-align: center;
 margin: 10px;
}
li {
 list-style-type: circle;
}


.menu-button button {
  width: 160px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: darkred;
  display: inline;
  float: top left;
  color: white;
  width: 8%;
  height: 50px;
  margin: 0px;
  margin-top: 0px;
  border: 0px;
  z-index: 2;
  cursor: pointer;

}

.menu-button button:hover{
  background-color: crimson;
}

.menu-button button:focus{
  background-color: crimson;
}
