

.top-story-info {
  display: block;
}

.top-story img {
  float: left;
  max-height: 300px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.top-story button {
  width: 100%;
}

.journalist-tag {
  font-size: 14px;
  float: right;
}

.top-story p {
  font-size: 17px;
}

.top-story button {
  font-size: 17px;
}


.top-story-info {
  margin-top: 40px;
}

.top-story h4 {
  font-style: italic;
}
